.button {
  background: linear-gradient(to left, #4a80f0, #6496ff);
  color: #fff;
  padding: 8px 10px 10px 10px;
  border-radius: 5px;
  min-width: 100px;
  font-size: 1rem;
  border: 1px solid #d6d6d6;
}
