.cards-container {
  margin: 20px;

  &__cards {
    display: flex;
    overflow-x: scroll;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }

  &__title-1 {
    font-size: 1.2rem;
  }

  &__link {
    font-size: .8rem;
    color: #4A80F0;
  }

  &__link:hover, &__link:active {
    text-decoration: underline;
  }
}
