.timer {
  font-family: monospace;
  font-size: 2rem;
  width: 130px;
  height: 130px;
  display: -webkit-box;
  display: flex;
  align-items: center;
  color: #405086;
  justify-content: center;
  border: 5px solid #ffffff94;
  border-radius: 50%;
  top: 0;
  position: relative;
  left: 0;
}
