background = @block {
  &_background_orange {
    background: linear-gradient(70deg, #ffcc93, #ffdc7a);
  }

  &_background_peach {
    background: linear-gradient(70deg, #ffdbce, #ffcfbd);
  }

  &_background_fiolet {
    background: linear-gradient(-70deg, #dadffc, #e3e7ff);
  }

  &_background_grey {
    background: linear-gradient(to right, #dce4f3, #cbd3ea);
  }

  &_background_pink {
    background: linear-gradient(to right, #ff7c92, #fb9dad);
  }

  &_background_blue {
    background: linear-gradient(to left, #4a80f0, #6496ff);
  }
}

background-after = @block {
  &_background_orange:after {
    background: linear-gradient(70deg, #ff7f56 30%, #ff44ce);
  }

  &_background_green:after {
    background: linear-gradient(to right, #159957, #155799);
  }

  &_background_fiolet:after {
    background: linear-gradient(to right, #6190e8, #a7bfe8);
  }

  &_background_grey:after {
    background: linear-gradient(to right, #20002c, #cbb4d4);
  }

  &_background_pink:after {
    background: linear-gradient(to right, #800080, #ffc0cb);
  }

  &_background_blue:after {
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
  }
}

background-before = @block {
  &_background_orange:before {
    background: linear-gradient(to right, #de6262, #ffb88c);
  }

  &_background_green:before {
    background: linear-gradient(to right, #159957, #155799);
  }

  &_background_fiolet:before {
    background: linear-gradient(to right, #6190e8, #a7bfe8);
  }

  &_background_grey:before {
    background: linear-gradient(to right, #20002c, #cbb4d4);
  }

  &_background_pink:before {
    background: linear-gradient(to right, #800080, #ffc0cb);
  }

  &_background_blue:before {
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
  }
}

