.page {
  overflow-y: scroll;
  height: 100vh;
  background: white;

  &_type_definition {
    background: linear-gradient(15deg, #b0daff78, #f9fbfd);
  }

  &__title {
    justify-content: center;
    display: flex;
    margin-top: 20px;
    font-size: 2rem;
  }

  &_type_definition &__title {
    height: 120px;
    align-items: center;
  }
}
