@import "../../constants/background.styl"

.card .card__progress {
  position: absolute;
  top: 20px;
  right: 20px;
}

.card {
  min-width: 170px;
  width: 170px;
  height: 80px;
  border-radius: 20px;
  padding: 25px;
  position: relative;
  margin: 10px 10px 10px 0;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__add {
    border: dashed 4px #fff;
    background: transparent;
    border-radius: 20px;
    padding: 10px;
    position: relative;
    margin: -15px;
    height: 122%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &_color_white {
    color: white;
  }
  &_color_black {
    color: black;
  }

  &__title {
    font-size: 1.2rem;
    display: block;
    max-width: 130px;
    text-transform: capitalize;
  }

  &__description {
    font-size: .8rem;
    font-weight: 300;
  }

  {background}

  &.exam {
    background: #eae7e2;
    color: #000;
    margin-bottom: 50px;
  }
}
