.icon {
    width: 15px;
    height: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    fill: black;
    &_type_close {
        //background-image: url('./svg/close.svg');
        width: 24px;
        height: 24px;
    }

    &_type_back {
        //background-image: url('./svg/back.svg');
    }

    &_type_logo {
        //background-image: url('./svg/logo.svg');
        margin-right: 30px;
        width: 60px;
        height: 60px;
    }

    &_type_header {
        //background-image: url('./svg/header.svg');
        width: 100vw;
        height: calc(100vw * 0.5);
        background-size: contain;
        margin: 0;
    }
}
