.modal-navigator {
  display: flex;
  position: relative;
  width: calc(100% + 10px);
  height: 4px;
  margin: -10px -5px 45px -5px;

  &__item {
    border-radius: 5px;
    margin: 0 5px;
    background: #eae7e2;
    width: inherit;

    &_active {
      background-color: #5a8df9;
    }
  }
}
