.definition-card {
  //background: linear-gradient(to right, #e0dcf3, #cbd3ea);
  max-width: 200px;

  &__title {
    font-size: 2rem;
  }

  &__about {
    opacity: .6;
    font-size: .9rem;
    margin-top: 7px;
  }
}
